<div class="top">
  <div class="top__container container">
    <h1 class="top__title">AIIT Student Profile</h1>
    <p class="top__description">
      AIIT Student Profile は簡単にプロフィールを作成できるサービスです。<br>
      グループワークでの自己紹介タイムで簡単にわかりやすく自己紹介ができます。
    </p>
    <a class="btn btn-primary btn-lg top_button" href="/auth/google_oauth2" role="button" data-method="post">さっそくログインする</a>
  </div>
</div>
