<ul class="users">
  <% @user_profiles.each do |user| %>
    <li class="bg-palegreen">
      <span class="material-icons account-icon">account_box</span>
      <span class="user-info">
        <span class="username"><%= link_to user.name, user %></span>
        <span class="major_subject">
          <%== major_subject_icon(user.major_subject) %>
          <span class="major_subject_name"><%= user.major_subject %></span>
        </span>
        <span class="other"><%= user.other.truncate(200) %></span>
      </span>
    </li>
  <% end %>
</ul>