// background-color
.bg-palegreen {
  --bs-bg-opacity: 1;
  background-color: #edf6e5;
}

// Google Material Icons
// デフォルトだとアイコンが浮いてしまうため
.material-icons {
  vertical-align: middle;
}

body {
  a {
    color: black;
  }
}

// profile list
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    margin: 10px 0;
    box-shadow: 3px 4px 5px grey;
    .user-info {
      position: fixed;
      padding: 10px;
      .username > a {
        text-decoration: none;
        font-size: 26px;
        font-weight: bold;
      }
      .major_subject {
        font-size: 12px;
        .material-icons {
          font-size: 13px;
          padding: 2px;
        }
      }
      .other {
        display: block;
        padding: 3px 0;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  .account-icon {
    font-size: 90px;
  }
}

// profile registration/edit
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.user_profile {
  /* form */
  div.subtitle {
    margin-top: 15px;
    font-size: 26px;
    font-weight: bold;
  }

  input[type="text"],
  textarea,
  select {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }

  input {
    height: auto !important;
  }

  .form-required:after {
    content: "*";
    color: #f38ba0;
  }

  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }

  .field_with_errors {
    .form-control {
      border-color: #f38ba0;
      color: #f38ba0;
      -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    }
  }

  .error_message {
    color: #f38ba0;
  }

  .btn {
    margin-top: 15px;
    background-color: #B5EAEA;
    border: none;
  }
}

// header
header {
  box-shadow: 3px 4px 5px grey;
  .container {
    > a {
      font-size: 2.25rem;
      line-height: 2.5rem;
      text-decoration: none;
      font-weight: bold;
    }
    .material-icons {
      font-size: 1rem;
    }
    nav > ul {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

// footer
footer {
  border-top: 1px solid #eaeaea;
}
