// reset anchor style
a {
  color: $text-color;
  text-decoration: underline;
  -webkit-tap-highlight-color:rgba(0,0,0,0);

  &:visited {
    color: $text-color;
    text-decoration: underline;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

// bootstrap reset
.nav-link {
  color: $text-color;
  text-decoration: underline;

  &:hover, :focus {
    color: $text-color;
  }
}

// default font
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}

// icon
// デフォルトだとアイコンが浮いてしまうため
.material-icons {
  vertical-align: middle;
}

// placeholder
.form-control::placeholder {
  color: $placeholder;
}

::placeholder {
  color: $placeholder;
}
