$text-color: #000;
$text-weak: rgba($text-color, .6);

$base-weak: #EDF6E5;
$base-strong: #B5EAEA;

$accent-weak: #FFBCBC;
$accent-strong: #F38BA0;

$border-weak: #EAEAEA;

$shadow: rgba(0, 0, 0, .25);

$placeholder: rgba($text-color, .4);
