// background-color
.bg-palegreen {
  --bs-bg-opacity: 1;
  background-color: $base-weak;
}

// profile list
.users {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    overflow: auto;
    margin: 1rem 0;
    box-shadow: 0 4px 4px $shadow;
    .user-info {
      position: fixed;
      padding: 0.5rem;
      .username > a {
        text-decoration: none;
        font-size: 2.25rem;
        font-weight: bold;
      }
      .major_subject {
        color: $text-weak;
        .material-icons {
          font-size: 1rem;
          padding: 2px;
        }
      }
      .other {
        display: block;
        padding: 3px 0;
      }
    }
  }
  .account-icon {
    font-size: 90px;
  }
}

// profile registration/edit
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.user_profile {
  /* form */
  div.subtitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;

    .material-icons {
      font-size: 1.5rem;
    }
  }

  .field_group {
    margin-bottom: 3rem;
  }

  input[type="text"],
  textarea,
  select {
    border: 1px solid $border-weak;
    width: 100%;
    margin-bottom: 1rem;
    @include box_sizing;
  }

  input {
    height: auto !important;
  }

  label {
    margin-bottom: 0.5rem;
  }

  .form-required:after {
    content: "*";
    color: $accent-strong;
  }

  .checkbox {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    span {
      margin-left: 0.5rem;
      font-weight: normal;
    }
  }

  .field_with_errors {
    .form-control {
      border-color: $accent-strong;
      color: $accent-strong;
      -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    }
  }

  .error_message_container {
    margin-bottom: 1rem;
  }

  .error_message {
    color: $accent-strong;
    margin-bottom: 0;
  }

  .btn {
    margin-top: 1rem;
    font-weight: 500;
    background-color: $base-strong;
    border: none;
    box-shadow: 0 4px 4px $shadow;
  }
}
