<% content_for(:title, @status_code) %>

<div class="error">
  <div class="error__container container">
    <h1 class="error__title"><span class="material-icons">new_releases</span>Oops!</h1>
    <p><%= @message %></p>
    <a class="btn btn-primary btn-lg top_button" href="<%= root_path %>" role="button">トップへ戻る</a>
  </div>
</div>
