<header class="header navbar">
  <div class="container">
    <a class="header_title" href="<%= user_profiles_path %>">
      <h1 class="header_title__content">AIIT Student Profile</h1>
    </a>
    <nav class="navbar navbar-expand-lg">
      <ul class="header_menu navbar-nav">
        <% unless params[:controller] == 'user_profiles' && params[:action] == 'index' %>
          <li class="nav-item">
            <%= link_to user_profiles_path, class: 'nav-link' do %>
              <span class="material-icons">list</span>
              他のプロフを見る
            <% end %>
          </li>
        <% end %>
        <% unless params[:controller] == 'user_profiles' && %w(new edit create).include?(params[:action]) %>
          <li class="nav-item">
            <%= link_to register_path, class: 'nav-link' do %>
              <span class="material-icons">edit</span>
              プロフを編集する
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
