<!DOCTYPE html>
<html lang="ja">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/header' %>
    <div class="main_content container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
